<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>

<link rel="stylesheet" href="/css/menupage.css"
	th:href="@{/css/menupage.css}" />

<title>jobhunter</title>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="/css/simple-sidebar.css" rel="stylesheet">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>
<body class="longbg">
	<div class="container-fluid" layout:fragment="content">
		<div class="row">
			<nav class="col-md-2 d-none d-md-block bg-light sidebar" style="position:fixed;">
				<img src="../../image/JOB-HUNTER.png" class="img-fluid">
				<div class="block2">
					<div class="sidebar-sticky">
						<ul class="nav flex-column">
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item"><a class="nav-link" href="/menu1">トップメニュー</a></li>
							<li class="nav-item"><a class="nav-link active" href="/p1main">申請機能</a></li>
							<li class="nav-item"><a class="nav-link" href="/p2main">報告機能</a></li>
							<li class="nav-item"><a class="nav-link" href="/p3main">閲覧機能</a></li>
							<li class="nav-item"><a class="nav-link" href="/p4main">申請待ちリスト</a></li>
							<li class="nav-item"><a class="nav-link" href="/p5main">報告待ちリスト</a></li>
						</ul>
						<ul class="nav flex-column">
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item"><a class="nav-link" href="/">ログアウト</a></li>
						</ul>
					</div>
				</div>
			</nav>

			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
				<div class="row">
				<div class="t1 col-md-12 position-fixed">
					<h1>　申請機能</h1>
					&nbsp;
					<div class="col-md-12">
					<h3 class="marquee">教員コメントを見て活動内容を編集しましょう。</h3>
					</div>
					<br>
					<div class="ml-5 col-md-8">
					<a href="#" onclick="history.back(); return false;">
						<button type="submit" class="btn btn-primary btn-lg">戻る</button>
					</a>
					</div>

				</div>
				</div>
				
				<div class="t2 col-md-8" style="left: 15%; padding-top: 200px;">
					<form th:action="@{/p1/{id}(id=*{id})}" th:method="post"
			th:object="${Appform}">
						<div class="form-group">
							<br /> 
							<label>企業名</label>
							<small class="form-text text-muted">就職活動を行う企業名を入力してください。</small>
							
							&nbsp;<span class="badge badge-danger">必須</span>
							<input type="text" class="form-control form-control-lg" style="font-size:xx-large;" placeholder="企業名１" name="kigyoumei1" th:field="*{kigyoumei1}"required >
							<br /> 
							&nbsp;<span class="badge badge-secondary">任意</span>
							<input type="text" class="form-control form-control-lg" style="font-size:xx-large;" placeholder="企業名２" name="kigyoumei2" th:field="*{kigyoumei2}">
							<br />
							&nbsp;<span class="badge badge-secondary">任意</span>
							<input type="text" class="form-control form-control-lg" style="font-size:xx-large;" placeholder="企業名３" name="kigyoumei3" th:field="*{kigyoumei3}">
							<br />
							
							<label>日にち&nbsp;<span class="badge badge-danger">必須</span></label>
							<small class="form-text text-muted">就職活動を行う日にちを入力してください。</small>
							<input type="date" class="form-control form-control-lg" style="font-size:xx-large;" name="hiniti" th:field="*{hiniti}" required> 
							<br />
							
							<label>開始時間&nbsp;<span class="badge badge-danger">必須</span></label>
							<small class="form-text text-muted">就職活動が始まる時間を入力してください。</small>
							<input type="time" class="form-control form-control-lg" style="font-size:xx-large;" name="starttime" th:field="*{starttime}"required> 
							<br /> 
							
							<label>終了時間</label> 
							<small class="form-text text-muted">就職活動が終わる時間を入力してください。</small>
							<input type="time" class="form-control form-control-lg" style="font-size:xx-large;" name="endtime" th:field="*{endtime}">
							<br />
							
							<label>場所（住所もしくは名称）&nbsp;<span class="badge badge-danger">必須</span></label>
							<small class="form-text text-muted">就職活動を行う場所（住所もしくは名称）を入力してください。</small>
							<input type="text" class="form-control form-control-lg" style="font-size:xx-large;" name="basyo" th:field="*{basyo}" required>
							<br />
							
							<label>内容</label>
							<small class="form-text text-muted">就職活動の大まかな内容を選択してください。</small>
							<select name="naiyou" th:field="*{naiyou}" class="form-control form-control-lg" style="font-size:xx-large;">
								<option value="合企">合企</option>
								<option value="単独">単独</option>
								<option value="試験">試験</option>
								<option value="その他">その他</option>
							</select>
							<br />
							
							<hr />
							<br />
							
							<label>欠席日</label>
							<small class="form-text text-muted">学校にいない日にちを選択してください。</small>
							<input type="date" class="form-control form-control-lg" style="font-size:xx-large;" name="kessekibi" th:field="*{kessekibi}"> 
							<br /><br /> 
							<label>早退日</label>
							<small class="form-text text-muted">早退する日にちを選択してください。</small> 
							<input type="date" class="form-control form-control-lg" style="font-size:xx-large;" name="soutaibi" th:field="*{soutaibi}">
							<br />
							<label>早退時間</label>
							<small class="form-text text-muted">早退する時間を選択してください。</small>
							<input type="time" class="form-control form-control-lg" style="font-size:xx-large;" name="soutaijikan" th:field="*{soutaijikan}"> 
							<br />
							<br /> 
							<label>遅刻日</label>
							<small class="form-text text-muted">遅刻する日にちを選択してください。</small> 
							<input type="date" class="form-control form-control-lg" style="font-size:xx-large;" name="tikokubi" th:field="*{tikokubi}"> 
							<br />
							<label>遅刻時間</label> 
							<small class="form-text text-muted">遅刻する時間を選択してください。</small>
							<input type="time" class="form-control form-control-lg" style="font-size:xx-large;" name="tikokujikan" th:field="*{tikokujikan}"> 
							<br />
							<br/>
							<hr />
							<br />
							
							<label>メモ&nbsp;<span class="badge badge-danger">必須</span></label>
							<small class="form-text text-muted">就職活動の詳しい内容を入力してください。</small>
							<textarea class="form-control" rows="3" name="memo" th:field="*{memo}" style="font-size:xx-large;" required></textarea>
							<br/>
							
							<label>教員コメント</label>
							<small class="form-text text-muted">教員からの指摘内容が表示されます。</small>
							<textarea disabled class="form-control" rows="3" name="komento" th:field="*{komento}" style="font-size:xx-large;"></textarea>
						</div>
						<br />
						<button type="submit" class="btn btn-primary btn-lg">編集実行</button>
					</form>
				</div>
			</main>
		</div>
	</div>
</body>
</html>