<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>

<link rel="stylesheet" href="/css/menupage.css"
	th:href="@{/css/menupage.css}" />

<title>jobhunter</title>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="/css/simple-sidebar.css" rel="stylesheet">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>
<body>
	<!--
	<nav
		class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">会社名</a> <input
			class="form-control form-control-dark w-100" type="text"
			placeholder="検索" aria-label="検索">
		<ul class="navbar-nav px-3">
			<li class="nav-item text-nowrap">
				<img src="image/JOB-HUNTER.png" class="img-fluid">
					<a class="nav-link" href="#">サインアウト</a>
				</div>
			</li>
		</ul>
	</nav>
-->
	<div class="container-fluid" layout:fragment="content">
		<div class="row">
			<nav class="col-md-2 d-none d-md-block bg-light sidebar" style="position:fixed;">
				<img src="image/JOB-HUNTER.png" class="img-fluid">
				<div class="block2">
					<div class="sidebar-sticky">
						<ul class="nav flex-column">
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item"><a class="nav-link" href="/menu1">トップメニュー</a></li>
							<li class="nav-item"><a class="nav-link active" href="/p1main">申請機能</a></li>
							<li class="nav-item"><a class="nav-link" href="/p2main">報告機能</a></li>
							<li class="nav-item"><a class="nav-link" href="/p3main">閲覧機能</a></li>
							<li class="nav-item"><a class="nav-link" href="/p4main">申請待ちリスト</a></li>
							<li class="nav-item"><a class="nav-link" href="/p5main">報告待ちリスト</a></li>
						</ul>
						<ul class="nav flex-column">
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item"><a class="nav-link" href="/">ログアウト</a></li>
						</ul>
					</div>
				</div>
			</nav>

			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 m1 bgmhw01" style="height:100vh">


				<div class="row">
				<div class="t1 col-md-12 position-fixed">
					<h1>　申請機能</h1>
					&nbsp;
					<div class="col-md-12">
					<h3 class="marquee">活動内容を申請しましょう。</h3>
					</div>
					<br>
					<div class="ml-5 col-md-8">
					<form action="/p1create">
					<button type="submit" class="btn btn-primary btn-lg" >新規作成</button>
					</form>
					</div>
					<div class="ml-5">
					<form action="/p1delete">
					<button type="submit" class="btn btn-primary btn-lg" >承認済みリスト</button>
					</form>
					</div>
				</div>
				</div>
				<div class="t2" style="padding-top:250px;">
					<div class="col-11 ml-5">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>申請日時</th>
									<th>活動日</th>
									<th>開始時間</th>
									<th>終了時間</th>
									<th>内容</th>
									<th>企業名</th>
									<th>ステータス</th>
									<th class="bb"></th>
									<th class="bb"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="ApplicationForm:${Applist}" th:object="${ApplicationForm}">
									<td th:text="*{current}"></td>
									<td th:text="*{hiniti}"></td>
									<td th:text="*{starttime}"></td>
									<td th:text="*{endtime}"></td>
									<td th:text="*{naiyou}"></td>
									<td th:text="*{kigyoumei1}"></td>
									<td th:text="*{permissionrefusal}"></td>
									<td>
										<form th:action="@{/p1/{id}/p1edit(id=*{id})}" method="get">
                            			<input class="btn btn-outline-success btn-lg" type="submit" value="編集" />
                            			<input type="hidden" name="id" th:value="${ApplicationForm.id}" />
                        				</form>
                        			</td>
                        			<td>
                        				<form th:action="@{/p1/delete}" method="post">
                            			<input class="btn btn-outline-danger btn-lg" type="submit" value="削除" />
                            			<input type="hidden" name="id" th:value="${ApplicationForm.id}" />
                        				</form>
									</td>
									<!-- 
									<td><button type="button" class="btn btn-outline-success btn-lg">編集</button>&nbsp;<button type="button" class="btn btn-outline-danger btn-lg">削除</button></td>
									 -->
								</tr>
							</tbody>
						</table>
					</div>
				</div>

			</main>
		</div>
	</div>
</body>
</html>