<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>

<link rel="stylesheet" href="/css/menupage.css"
	th:href="@{/css/menupage.css}" />

<title>jobhunter</title>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="/css/simple-sidebar.css" rel="stylesheet">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>
<body class="longbg">
	<div class="container-fluid" layout:fragment="content">
		<div class="row"> 
			<nav class="col-md-2 d-none d-md-block bg-light sidebar" style="position:fixed;">
				<img src="../../image/JOB-HUNTER.png" class="img-fluid">
				<div class="block2">
					<div class="sidebar-sticky">
						<ul class="nav flex-column">
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item"><a class="nav-link" href="/menu1">トップメニュー</a></li>
							<li class="nav-item"><a class="nav-link active" href="/p1main">申請機能</a></li>
							<li class="nav-item"><a class="nav-link" href="/p2main">報告機能</a></li>
							<li class="nav-item"><a class="nav-link" href="/p3main">閲覧機能</a></li>
							<li class="nav-item"><a class="nav-link" href="/p4main">申請待ちリスト</a></li>
							<li class="nav-item"><a class="nav-link" href="/p5main">報告待ちリスト</a></li>
						</ul>
						<ul class="nav flex-column">
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item"><a class="nav-link" href="/">ログアウト</a></li>
						</ul>
					</div>
				</div>
			</nav>

			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 m1">
				<div class="row">
				<div class="t1 col-md-12 position-fixed">
					<h1>　申請機能（承認済みデータ）</h1>
					<br/>
					<div class="ml-5 col-md-8">
					<a href="#" onclick="history.back(); return false;">
						<button type="submit" class="btn btn-primary btn-lg">戻る</button>
					</a>
					</div>
				</div>
				</div>
				
				<div class="t2" style="padding-top:200px;">
					<div class="col-11 ml-5">
						<div class="card">
							<h5 class="card-header">企業名</h5>
							<div class="card-body" th:text="${Appform.kigyoumei1}"></div>
							<div class="card-body" th:text="${Appform.kigyoumei2}"></div>
							<div class="card-body" th:text="${Appform.kigyoumei3}"></div>
						</div>
						<br/>
						
						<div class="card">
							<h5 class="card-header">日にち</h5>
							<div class="card-body" th:text="${Appform.hiniti}"></div>
						</div>
						<br/>
						<div class="card">
							<h5 class="card-header">開始時間</h5>
							<div class="card-body" th:text="${Appform.starttime}"></div>
						</div>
						<br/>
						<div class="card">
							<h5 class="card-header">終了時間</h5>
							<div class="card-body" th:text="${Appform.endtime}"></div>
						</div>
						<br/>
						<div class="card">
							<h5 class="card-header">場所</h5>
							<div class="card-body" th:text="${Appform.basyo}"></div>
						</div>
						<br/>
						<div class="card">
							<h5 class="card-header">内容</h5>
							<div class="card-body">
								<p th:text="${Appform.naiyou}"></p>
							</div>
						</div>
						<br/>
						<div class="card">
							<h5 class="card-header">欠席日</h5>
							<div class="card-body">
								<p th:text="${Appform.kessekibi}"></p>
							</div>
						</div>
						<br/>
						<div class="card">
							<h5 class="card-header">早退日</h5>
							<div class="card-body">
								<p th:text="${Appform.soutaibi}"></p>
							</div>
						</div>
						<br/>
						<div class="card">
							<h5 class="card-header">早退時間</h5>
							<div class="card-body">
								<p th:text="${Appform.soutaijikan}"></p>
							</div>
						</div>
						<br/>
						<div class="card">
							<h5 class="card-header">遅刻日</h5>
							<div class="card-body">
								<p th:text="${Appform.tikokubi}"></p>
							</div>
						</div>
						<br/>
						<div class="card">
							<h5 class="card-header">遅刻時間</h5>
							<div class="card-body">
								<p th:text="${Appform.tikokujikan}"></p>
							</div>
						</div>
						<br/>
						<div class="card">
							<h5 class="card-header">メモ</h5>
							<div class="card-body">
								<p th:text="${Appform.memo}"></p>
							</div>
						</div>
						

					</div>
				</div>
			</main>
		</div>
	</div>
</body>
</html>