<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>

<link rel="stylesheet" href="/css/menupage.css"
	th:href="@{/css/menupage.css}" />

<title>jobhunter</title>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="/css/simple-sidebar.css" rel="stylesheet">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>
<body>
	<div class="container-fluid" layout:fragment="content">
		<div class="row">
			<nav class="col-md-2 d-none d-md-block bg-light sidebar" style="position:fixed;">
				
				<img src="image/JOB-HUNTER.png" class="img-fluid">
				<div class="block2">
					<div class="sidebar-sticky">
						<ul class="nav flex-column">
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item"><a class="nav-link active" href="/menu1">トップメニュー</a></li>
							<li class="nav-item"><a class="nav-link" href="/p1main">申請機能</a></li>
							<li class="nav-item"><a class="nav-link" href="/p2main">報告機能</a></li>
							<li class="nav-item"><a class="nav-link" href="/p3main">閲覧機能</a></li>
							<li class="nav-item"><a class="nav-link" href="/p4main">申請待ちリスト</a></li>
							<li class="nav-item"><a class="nav-link" href="/p5main">報告待ちリスト</a></li>
						</ul>
						<ul class="nav flex-column">
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item"><a class="nav-link" href="/">ログアウト</a></li>
						</ul>
					</div>
				</div>
			</nav>

			<main role="main" class="col-md-10 ml-sm-auto px-4">


				<div class="row">
				<div class="t1 col-md-12 position-fixed">
					<h1>　トップメニュー</h1>
					&nbsp;
					<h3>　　　おつかれさまです　<!-- <span th:text="${account.getUserid}"></span> -->さん</h3>
				</div>
				</div>
				
				<div class="row">
				<div class="t2 col-md-12" style="padding-top:165px;">
					<div class="row">
					<div class="col-md-6" style="width:200px;height:100px;background-color:black;">
						<a href="https://www.itmedia.co.jp/">
							<img src="image/itmedia.png" class="rounded mx-auto d-block" style="padding-top:7%;">
						</a>
				
					</div>
					<div class="col-md-6" style="width:200px;height:100px;background-color:pink;">
						<a href="https://nlab.itmedia.co.jp/">
							<img src="image/netorabo.png" class="rounded mx-auto d-block" style="padding-top:5%;">
						</a>
				
					</div>
					</div>
					<div class="row">
					<div class="col-md-6" style="width:200px;height:100px;background-color:green;">
						<a href="https://www.itmedia.co.jp/">
							<img src="image/attoma.png" class="rounded mx-auto d-block" style="padding-top:4%;">
						</a>
				
					</div>
					<div class="col-md-6" style="width:200px;height:100px;background-color:skyblue;">
						<a href="https://twitter.com/explore">
							<img src="image/tuitta.png" class="rounded mx-auto d-block" style="padding-top:1%;height:100px;">
						</a>
				
					</div>
					</div>
				</div>
				</div>
				<div class="t3">
					<iframe id="forecast_embed" type="text/html" frameborder="0"
						height="245" width="100%"
						src="http://forecast.io/embed/#lat=43.06417&lon=141.34694&
						name=Sapporo&units=si"></iframe>
				</div>
			</main>
		</div>
	</div>
</body>
</html>