@charset "UTF-8";

@font-face{
	font-family:'mhfont';
	src: url("/font/mhfont.woff");
}

.erm{
	background:url("/image/failed.jpg");
	background-size:cover;
	padding-top:5%;position:absolute;height:100vh;width:100%;z-index:20000;
}

.ermerm{
	font-family:mhfont;
	text-shadow: 1px 2px 3px #808080;
	-webkit-text-stroke: 1px rgba(255,70,70,0.5);
  	text-stroke: 1px #FFF;
}

.bgdef{
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.2),
	 rgba(255, 255, 255, 0.7)) ,url("/image/mainart.jpg");
	background-size:cover;
}

.bgmhw01{
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.2),
	 rgba(255, 255, 255, 0.7)) ,url("/image/mhw03.jfif");
	background-size:cover;
}

.bgmhw02{
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.2),
	 rgba(255, 255, 255, 0.7)) ,url("/image/mhw04.jfif");
	background-size:cover;
}

.bgmhw03{
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.2),
	 rgba(255, 255, 255, 0.7)) ,url("/image/mhw05.jfif");
	background-size:cover;
}

.bgmhw04{
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.9),
	 rgba(255, 255, 255, 0.1)) ,url("/image/mhw06.jfif");
	background-size:cover;
}

.longbg{
	background-image: linear-gradient(to top, #fff1eb 0%, #e6e9f0 100%);
}

* {
	font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro',
		'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック',
		'MS PGothic', sans-serif;
	font-size:large;
	
}

.marquee {
    width: auto;
    padding-left: 100%;
    white-space: nowrap;

    animation-name: marquee;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes marquee {
    from    { transform: translate(0%); } 
    100%,to { transform: translate(-100%); }
}

.t1 {
	position:fixed;
	display:block;
	padding-top: 48px;
	padding-left: 48px;
	padding-bottom:24px;
	z-index:10000;
	background-color: rgba(255,255,255,0.8);
}

.t2 {
	padding-top:30px;
	padding-bottom:30px;
	
}


.t3{
	position:flex;
	padding-bottom:0px;
	
}

.bb{
	width:5%;
}

ul{
	list-style:none;
}

main{
	height:auto;
	
}

td{
	background-color: rgba(255,255,255,0.4);
}



/*
 * サイドバー
 */
.sidebar {
	display: flex;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100; /* ナビゲーションバーの背面 */
	padding: 48px 0 0; /* ナビゲーションバーの高さ */
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
	height:100vh;
}



@
supports ((position: -webkit-sticky ) or (position: sticky )) { .sidebar-sticky
	{ position:-webkit-sticky;
	position: sticky;
}

}
.sidebar .nav-link {
	color: #333;
}

.sidebar .nav-link .feather {
	margin-right: 4px;
	color: #999;
}

.sidebar .nav-link.active {
	color: #007bff;
}

.sidebar .nav-link:hover .feather, .sidebar .nav-link.active .feather {
	color: inherit;
}
