<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>

<link rel="stylesheet" href="/css/menupage.css"
	th:href="@{/css/menupage.css}" />

<title>jobhunter</title>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="/css/simple-sidebar.css" rel="stylesheet">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>
<body>
	<div class="container-fluid" layout:fragment="content">
		<div class="row">
			<nav class="col-md-2 d-none d-md-block bg-light sidebar" style="position:fixed;">
				<img src="image/JOB-HUNTER.png" class="img-fluid">
				<div class="block2">
					<div class="sidebar-sticky">
						<ul class="nav flex-column">
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item"><a class="nav-link" href="/menu1">トップメニュー</a></li>
							<li class="nav-item"><a class="nav-link" href="/p1main">申請機能</a></li>
							<li class="nav-item"><a class="nav-link active" href="/p2main">報告機能</a></li>
							<li class="nav-item"><a class="nav-link" href="/p3main">閲覧機能</a></li>
							<li class="nav-item"><a class="nav-link" href="/p4main">申請待ちリスト</a></li>
							<li class="nav-item"><a class="nav-link" href="/p5main">報告待ちリスト</a></li>
						</ul>
						<ul class="nav flex-column">
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item">&nbsp;</li>
							<li class="nav-item"><a class="nav-link" href="/">ログアウト</a></li>
						</ul>
					</div>
				</div>
			</nav>

			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 m1 bgmhw02" style="height:100vh">


				<div class="row">
				<div class="t1 col-md-12 position-fixed">
					<h1>　報告機能</h1>
					&nbsp;
					<div class="col-md-12">
					<h3 class="marquee">新規作成ボタンを押して受験内容を報告しましょう。</h3>
					</div>
					<br>
					<div class="ml-5 col-md-8">
					<form action="/p2create">
					<button type="submit" class="btn btn-primary btn-lg" >新規作成</button>
					</form>
					</div>
				</div>
				</div>
				
				<div class="t2" style="padding-top:250px;">
					<div class="col-11 ml-5">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>報告日時</th>
									<th>活動日</th>
									<th>企業名</th>
									
									<th>内容</th>
									<th>ステータス</th>
									<th class="bb"></th>
									<th class="bb"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="ReportForm:${Replist}" th:object="${ReportForm}">
									<td th:text="*{current}"></td>
									<td th:text="*{hiniti}"></td>
									<td th:text="*{kigyoumei}"></td>				
									<td th:text="*{naiyou1}"></td>
									<td th:text="*{permissionrefusal}"></td>
									
									<td>
										<form th:action="@{/p2/{id}/p2edit(id=*{id})}" method="get">
                            			<input class="btn btn-outline-success btn-lg" type="submit" value="編集" />
                            			<input type="hidden" name="id" th:value="${ReportForm.id}" />
                        				</form>
                        			</td>
                        			<td>
                        				<form th:action="@{/p2/delete}" method="post">
                            			<input class="btn btn-outline-danger btn-lg" type="submit" value="削除" />
                            			<input type="hidden" name="id" th:value="${ReportForm.id}" />
                        				</form>
									</td>
								</tr>		
							</tbody>
						</table>
					</div>
				</div>
			</main>
		</div>
	</div>
</body>
</html>